* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:Arial,sans-serif;
  background:#050816;
  color:white;
}

.wrap {
  max-width:720px;
  margin:auto;
  padding:20px;
  text-align:center;
}

h1 {
  font-size:42px;
}

.hud {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:15px 0;
}

.hud-buttons {
  display:flex;
  gap:12px;
}


/* restart */

.restart-btn {
  background:#ef233c;
  color:white;
  padding:14px 22px;
  border-radius:12px;
  border:none;
  font-weight:bold;
  font-size:18px;
  box-shadow:
  -4px 0 0 white inset,
  0 0 15px #ef233c;
}


/* pause */

.pause-btn {
  background:white;
  color:#172554;
  padding:14px 22px;
  border-radius:12px;
  border:none;
  font-weight:bold;
  font-size:18px;

  box-shadow:
  4px 0 0 #2196ff inset,
  0 0 15px #2196ff;
}


/* game screen */

canvas {

  background:
  radial-gradient(circle,#101d4a,#020617);

  border:3px solid #2563eb;

  border-radius:20px;

  max-width:100%;
}


/* controls */

.controls {

 display:grid;

 grid-template-columns:80px 80px 80px;

 grid-template-rows:80px 80px 80px;

 justify-content:center;

 gap:10px;

 margin-top:25px;

}


.controls button {

 width:80px;

 height:80px;

 background:#075bd8;

 color:white;

 border:none;

 border-radius:15px;

 font-size:28px;


 box-shadow:

 inset -5px 0 #ef4444,

 0 0 15px #2563eb;


 transition:.15s;

}


.controls button:active {

 background:#60a5fa;

 transform:scale(.92);

}


.up {

 grid-column:2;

 grid-row:1;

}


.left {

 grid-column:1;

 grid-row:2;

}


.down {

 grid-column:2;

 grid-row:2;

}


.right {

 grid-column:3;

 grid-row:2;

}